*.icon-white {color: white}

.btn-success:hover{
   color: #994100;
   background-color: #fff;
}

.alert{
    border-radius: 0;
}
 
.bg-navy {
  background-color: #001f3f; }
 
.bg-blue {
  background-color: #0074d9; }
 
.bg-teal {
  background-color: #39cccc; }
 
.bg-olive {
  background-color: #3d9970; }
 
.bg-green {
  background-color: #218F2E; }
 
.bg-yellow {
  background-color: #ffdc00; }
 
.bg-orange {
  background-color: #ff851b; }
 
.bg-red {
  background-color: #ff4136; }
 
.bg-fuchsia {
  background-color: #f012be; }
 
.bg-purple {
  background-color: #b10dc9; }
 
.bg-maroon {
  background-color: #85144b; }
 
.bg-gray {
  background-color: #aaaaaa; }
 
.bg-black {
  background-color: #111111; }
 
.white {
  color: white; }
 
.black {
  color: #111111; }